In [1]:
import pandas as pd

In [42]:
from os import listdir
from os.path import isfile, join
source_path = 'Texts-SeparatedByReadingLevel'
advs = [f for f in listdir(source_path)if isfile(join(source_path, f)) and 'txt' in f]

In [40]:
df = pd.DataFrame(columns = ['text','label']) 
df

Empty DataFrame
Columns: [text, label]
Index: []

In [46]:
folders = ['Ele-Txt','Int-Txt','Adv-Txt'] 
for i in range(len(folders)): 
    folder = folders[i]
    path = source_path+'\\' + folder
    files = [f for f in listdir(path)if isfile(join(path, f)) and 'txt' in f] 
    for txt in files: 
        content = ''
        with open(path+ '\\'+ txt,encoding='utf-8') as f: 
            content = f.read() 
        df.loc[len(df)] = [content,i] 
df

                                                  text label
0    ﻿When you see the word Amazon, what’s the firs...     0
1    ﻿To tourists, Amsterdam still seems very liber...     0
2    ﻿Anitta, a music star from Brazil, has million...     0
3    Google has made maps of the world’s highest mo...     0
4    ﻿The auction of a Banksy painting that disappe...     0
..                                                 ...   ...
562  ﻿How far away are we from a world where drones...     2
563  ﻿Maria is sitting on a black plastic chair in ...     2
564  ﻿There are worse things to do in life than str...     2
565  ﻿It is not just the world’s biggest burger cha...     2
566  ﻿More than one million British workers might b...     2

[567 rows x 2 columns]

In [47]:
df.to_csv('original_onestop.csv',index=False)